<!--
  <body>
    <h1>Welcome to Meteor!</h1>
    {{> layout}}
  </body>
-->
<template name="App_body">

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #730202;">
    <a class="navbar-brand mb-0 h1" href="/">Carrota</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ofertas">Promociones</a>
        </li>
      </ul>
      <ul class="navbar-nav">
       
        {{#if currentUser}}
        {{> loginButtons}}
        <p></p>
      <a class="nav-link" href="/perfil">Perfil</a>
     
  {{else}}
  {{> loginButtons}}
<li class="nav-item">
  <a class="nav-link" id="signup" href="/register">Sign up</a>
</li>
  {{/if}}
      
    </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="navbar-search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  
    </div>
  </nav>
  <!--aqui van los gets de los diferentes recursos-->
  {{> Template.dynamic template=main}}

</template>